<div class="px-4 pt-3 pb-2 bg-ac-lightblue">
  <div
    class="flex flex-wrap gap-y-2 gap-x-3 justify-center items-center text-sm font-semibold sm:justify-center xxs:justify-between text-ac-light"
  >
    <p>
      <span class="hidden xs:inline"> NOVEDAD: </span>
      Nueva colección primavera/verano 2026
    </p>

    <a
      href="/colecciones/primavera-verano"
      class="flex items-center h-3.5 border-t-ac-lightblue border-b-white border-y"
    >
      Descúbrela
      <img
        src="/icons/arrow.svg"
        alt="Descúbrela"
        class="mb-0.5 ml-0.5 w-3.5 h-3.5"
        height="14"
        width="14"
      />
    </a>
  </div>
</div>
