---
import { EMAIL, PHONE } from "../utils/consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contacto • Arbicuir S.L."
  description="Nuestros profesionales estarán a tu disposición para resolver cualquier duda que tengas, asesorándote en todo momento para brindarte el mejor servicio posible."
>
  <main class="px-4 mx-auto max-w-screen-lg sm:px-8">
    <h1 class="text-3xl sm:text-4xl font-display text-ac-light">
      Contáctanos
    </h1>
    <p class="mt-3 max-w-prose text-ac-light-2">
      Nuestros profesionales estarán a tu disposición para resolver cualquier
      duda que tengas, asesorándote en todo momento para brindarte el mejor
      servicio posible.
    </p>
    <div class="gap-10 mt-10 md:flex">
      <ul class="flex flex-col gap-4 text-sm w-52">
        <li class="flex gap-2 items-center p-4 rounded-md shadow-md transition
        sm:gap-4 bg-ac-darkblue hover:brightness-125 w-full">
          <img src="/icons/phone.svg" alt="Teléfono" class="w-5 h-5" />
          <a href={`tel:${PHONE}`} class="mt-1 text-ac-light">
            {PHONE}
          </a>
        </li>
        <li class="flex gap-2 items-center p-4 rounded-md shadow-md transition sm:gap-4 bg-ac-darkblue hover:brightness-125">
          <img src="/icons/email.svg" alt="Email" class="w-5 h-5" />
          <a href={`tel:${PHONE}`} class="mt-1 text-ac-light">
            {EMAIL}
          </a>
        </li>
      </ul>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3130.057170599755!2d-0.7736762!3d38.3245069!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63c7f2a0bf3e6f%3A0xebd008f9e52ea342!2sArbicuir%20SL!5e0!3m2!1ses!2ses!4v1690720057366!5m2!1ses!2ses"
        width="800"
        height="400"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="flex-1 mt-10 w-full h-96 rounded-md shadow-md md:mt-0 bg-ac-light-2">
      </iframe>
    </div>
  </main>
</Layout>
