---
import showcase from "../content/showcase.json";
import { EXPERIENCE } from "../utils/consts";
import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
import ImageComparisonSlider from "./_components/ImageComparisonSlider.svelte";
import ProductSlider from "./_components/ProductSlider.svelte";
import CardDeck from "./_components/CardDeck.astro";
---

<Layout
  title="Arbicuir | Acabados de pieles para calzado y marroquinería en Alicante."
  description="Desde 1995, nos dedicamos al acabado de pieles y sintéticos, trabajando con el objetivo de ofrecer una gran variedad de diseños innovadores y de calidad."
>
  <main class="px-6 mx-auto max-w-screen-lg sm:px-8">
    <section class="flex flex-col gap-14 justify-between md:flex-row">
      <div>
        <h1
          class="max-w-xl text-3xl sm:text-4xl lg:text-5xl text-ac-light font-display">
          Acabados de pieles y materiales para calzado y marroquinería.
        </h1>
        <p class="mt-10 mb-5 max-w-prose">
          Desde
          <strong class="text-ac-light">
            1995
          </strong>
          , nos dedicamos al acabado de pieles y sintéticos, trabajando con el
          objetivo de ofrecer una gran variedad de diseños innovadores y de
          calidad.
        </p>
        <ButtonLink 
          title="Explora nuestras colecciones" 
          href="/colecciones/primavera-verano"
        />
      </div>
      <ImageComparisonSlider
        beforeImage="https://res.cloudinary.com/marioperezhurtado/image/upload/v1700746751/arbicuir/comparison/before.webp",
        afterImage="https://res.cloudinary.com/marioperezhurtado/image/upload/v1700746752/arbicuir/comparison/after.webp",
        client:media="(min-width: 768px)"
      />
    </section>

    <section class="flex flex-col-reverse gap-10 mt-20 md:flex-row">
      <ProductSlider products={showcase} client:idle />

      <div class="w-72 min-w-[18rem]">
        <h2 class="mb-2 text-2xl font-display text-ac-light">
          Laminados, grabados y acabados de alta calidad.
        </h2>
        <ButtonLink
          title="Ver más"
          href="/grabados"
        />
      </div>
    </section>

    <section class="flex flex-col-reverse gap-10 mt-32 sm:gap-16 md:flex-row">
      <CardDeck />
      <div class="w-fit">
        <h2 class="mb-2 text-2xl font-display text-ac-light">
          Gran variedad de acabados de fantasía.
        </h2>
        <p class="mt-5 mb-5 max-w-prose">
          Disponemos de una amplia gama de grabados y acabados en distintos colores para todo tipo de pieles y materiales. Nuestro equipo de profesionales se encargará de asesorarte en todo momento para que puedas personalizar tus productos.
        </p>
      </div>
    </section>

    <section
      class="flex flex-col gap-10 justify-between p-6 mt-32 rounded-md shadow-md sm:flex-row sm:p-8 bg-ac-dark-2">
      <div>
        <h2 class="mb-2 text-2xl font-display text-ac-light">
          Experiencia, trayectoria y profesionalidad.
        </h2>
        <p class="mt-5 mb-5 max-w-prose">
          Con más de
          <strong class="text-ac-light">
            {EXPERIENCE}
          </strong>
          años de experiencia en el sector, en Arbicuir buscamos siempre la mejor calidad en nuestros productos y la excelencia en nuestros servicios.
        </p>
        <ButtonLink
          title="Descubre nuestra historia"
          href="/sobre-nosotros"
        />
      </div>
      <div class="overflow-hidden w-56 rounded-md shadow-md min-w-fit h-fit">
        <img
          src="https://res.cloudinary.com/marioperezhurtado/image/upload/v1700737852/arbicuir/audited.webp"
          alt="Certificado Leather Working Group"
          class="object-cover xs:w-56"
        />
      </div>
    </section>

    <section class="flex flex-col gap-12 justify-center items-center mt-32
    sm:flex-row sm:gap-20">
      <img
      src="https://res.cloudinary.com/marioperezhurtado/image/upload/v1702545498/arbicuir/conselleria-logo.webp"
      alt="Logo Consellería"
      class="h-28 sm:h-48"
      />
      <div class="max-w-xl text-center sm:text-left">
        <h3 class="mb-6 text-lg max-w-lg font-display text-ac-light">
          La Consellería de Economía Sostenible, Sectores Productivos, Comercio y
          Trabajo concede a Arbicuir una subvención para mejorar la
          competitividad.
        </h3>
        <p class="text-sm">
          La Conselleria de Economía Sostenible, Sectores Productivos, Comercio
          y Trabajo ha resuelto conceder a ARBICUIR, en la quinta fase de implantación del plan Estratégico de la Industria Valenciana para el ejercicio 2022, una subvención de 12.285,00 €
        </p>
      </div>
    </section>
  </main>
</Layout>
