---
import Layout from "../layouts/Layout.astro";
import Heading from "./_components/sections/Heading.astro";
import Showcase from "./_components/sections/Showcase.astro";
import Variety from "./_components/sections/Variety.astro";
import Experience from "./_components/sections/Experience.astro";
import Subsidy from "./_components/sections/Subsidy.astro";
import Environment from "./_components/sections/Environment.astro";
import SolarPanelVideo from "./_components/sections/SolarPanelVideo.astro";
---

<Layout
  title="Arbicuir | Acabados de pieles para calzado y marroquinería en Alicante."
  description="Desde 1995, nos dedicamos al acabado de pieles y sintéticos, trabajando con el objetivo de ofrecer una gran variedad de diseños innovadores y de calidad."
>
  <main class="mx-auto max-w-screen-lg">
    <Heading />
    <Showcase />
    <Variety />
    <Experience />
    <Environment />
    <SolarPanelVideo />
    <Subsidy />
  </main>
</Layout>
