---
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="Sobre Nosotros | Arbicuir S.L.",
  description="Somos una empresa joven, creada en 1995, por Juan José Arbizu Urdiain, en fase de expansión y consolidación, dedicada al acabado de pieles y sintéticos."
>
  <main class="px-4 mx-auto max-w-screen-lg sm:px-8">
    <h1 class="text-3xl sm:text-4xl font-display text-ac-light">
      Nuestra Historia
    </h1>
    <p class="mt-3 max-w-prose text-ac-light-2">
     Somos una empresa joven, creada en 1995, por Juan José Arbizu Urdiain, en fase de expansión y consolidación, dedicada al acabado de pieles y sintéticos.
    </p>
  </main>
</Layout>
