---
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="Sobre Nosotros • Arbicuir S.L.",
  description="Somos una empresa joven, creada en 1995, por Juan José Arbizu Urdiain, en fase de expansión y consolidación, dedicada al acabado de pieles y sintéticos."
>
  <main class="max-w-screen-lg mx-auto px-4 sm:px-8">
    <h1 class="text-3xl sm:text-4xl font-display text-ac-light">
      Nuestra Historia
    </h1>
    <p class="text-ac-light-2 mt-3 max-w-prose">
     Somos una empresa joven, creada en 1995, por Juan José Arbizu Urdiain, en fase de expansión y consolidación, dedicada al acabado de pieles y sintéticos.
    </p>
  </main>
</Layout>
