---
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="Sobre Nosotros | Arbicuir S.L.",
  description="Somos una empresa joven, creada en 1995, por Juan José Arbizu Urdiain, en fase de expansión y consolidación, dedicada al acabado de pieles y sintéticos."
>
  <main class="px-6 mx-auto max-w-screen-lg sm:px-8">
    <h1 class="text-3xl sm:text-4xl font-display text-ac-light">
      Sobre Nosotros
    </h1>

    <ul class="flex flex-col gap-8 mt-8 max-w-prose text-ac-light-2">
      <li class="flex flex-col gap-3">
        <h2 class="text-lg text-ac-light font-display">Nuestra historia</h2>
        <p>
          Fundada en 1995 por Juan José Arbizu Urdiain, Arbicuir es una empresa
      consolidada en el sector del acabado de pieles y sintéticos.
        </p>
        <p>
          Contamos con productos de calidad contrastada durante años, además de nuevos productos para los acabados de vanguardia.
        </p>
      </li>
      
      <li class="flex flex-col gap-3">
        <h2 class="text-lg text-ac-light font-display">Equipo humano</h2>
        <p>
          El equipo humano formado en Arbicuir cuenta con una alta especialización en el mundo del acabado, capaz de adaptarse a las distintas necesidades de los diferentes mercados.
        </p>
      </li>

      <li class="flex flex-col gap-3">
        <h2 class="text-lg text-ac-light font-display">Nuestra misión</h2>
        <p>
          En Arbicuir trabajamos constantemente con el objectivo de ofrecer a nuestros clientes los diseños más avanzados, buscando siempre la excelencia en nuestros servicios y el arte en nuestros acabados.
        </p>
      </li>
   </ul>
  </main>
</Layout>
