<section class="px-6 mx-auto mt-32 sm:px-8 md:mt-40">
  <div class="mx-auto max-w-screen-sm">
    <h2 class="mb-2 text-2xl font-display text-ac-light">
      Comprometidos con el desarrollo sostenible.
    </h2>
    <p class="mt-5 mb-5 max-w-2xl">
      En Arbicuir estamos comprometidos con la sostenibilidad y el medio ambiente.
      Prueba de ello es nuestra certificación de
      <strong class="text-ac-light">
        Leather Working Group
      </strong>
      , uno de los certificados más reconocidos en la industria del cuero, que garantiza que nuestros procesos y productos cumplen con los estándares de calidad y sostenibilidad.
    </p>
    <p class="mt-5 mb-5 max-w-2xl">
      Hemos llevado a cabo la instalación de 
      <strong class="text-ac-light">
        placas solares
      </strong>
      para la producción de energía eléctrica, con el objetivo de reducir el consumo de energía, demostrando así nuestro firme apoyo a las prácticas empresariales responsables y sostenibles.
    </p>
  </div>
</section>
