---
import showcase from "../../../content/showcase.json";
import ProductSlider from "../ProductSlider.svelte";
import ButtonLink from "../../../components/ButtonLink.astro";
---

<section class="flex flex-col-reverse gap-10 px-6 mt-20 sm:px-8 md:flex-row md:mt-32">
  <ProductSlider products={showcase} client:idle />

  <div class="w-72 min-w-[18rem]">
    <h2 class="mb-2 text-2xl font-display text-ac-light">
      Laminados, grabados y acabados de alta calidad.
    </h2>
    <ButtonLink
      title="Ver más"
      href="/grabados"
    />
  </div>
</section>
