<section
  class="flex flex-col justify-center items-center px-6 mt-24 md:flex-row sm:px-8 sm:mt-32 md:mt-40"
>
  <img
    src="https://res.cloudinary.com/marioperezhurtado/image/upload/v1761502577/arbicuir/conselleria-logo-2.webp"
    alt="Logo Consellería"
    class="h-28 sm:h-48"
  />
  <div class="max-w-xl text-center sm:text-left">
    <h3 class="mb-6 max-w-lg text-lg font-display text-ac-light">
      Proyecto subvencionado por la Conselleria de Innovación, Industria,
      Comercio y Turismo.
    </h3>
    <p class="text-sm">
      INPYME/2025/359
      <br />
      Importe de la subvención: 24.796,50 euros.
      <br />
      <br />
      La Conselleria de Innovación, Industria, Comercio y Turismo ha resuelto conceder
      a ARBICUIR, una ayuda de 24.796,50 euros para nuestro proyecto subvencionable
      INPYME/2025/359. Resolución de 29 de julio de 2025, publicada en DOGV 10165
      de 4 de agosto de 2025, de la Dirección General de Industria, por la que se
      resuelve la convocatoria para el ejercicio 2025 de subvenciones para apoyar
      las inversiones productivas realizadas por las pymes de diversos sectores industriales
      de la Comunitat Valenciana.
      <br />
      <br />
      Con la ayuda, ARBICUIR ha invertido en equipos industriales altamente competitivos
      que coadyuvan al incremento de la capacidad productiva de nuestra empresa.
      Con la puesta en marcha del proyecto, ARBICUIR ha logrado cumplir con la estrategia
      de industrialización previamente definida, consolidar nuestro compromiso con
      la fabricación sostenible, avanzar en la modernización tecnológica e incrementar
      nuestra competitividad.
    </p>
  </div>
</section>
