 <section class="flex flex-col gap-12 justify-center items-center px-6 mt-24 sm:flex-row sm:gap-20 sm:px-8 sm:mt-32 md:mt-40">
  <img
      src="https://res.cloudinary.com/marioperezhurtado/image/upload/v1702545498/arbicuir/conselleria-logo.webp"
    alt="Logo Consellería"
    class="h-28 sm:h-48"
  />
  <div class="max-w-xl text-center sm:text-left">
    <h3 class="mb-6 max-w-lg text-lg font-display text-ac-light">
      La Consellería de Economía Sostenible, Sectores Productivos, Comercio y
      Trabajo concede a Arbicuir una subvención para mejorar la
      competitividad.
    </h3>
    <p class="text-sm">
      La Conselleria de Economía Sostenible, Sectores Productivos, Comercio
      y Trabajo ha resuelto conceder a ARBICUIR, en la quinta fase de
      implantación del plan Estratégico de la Industria Valenciana para el
      ejercicio 2022, una subvención de 12.285,00 €.
    </p>
  </div>
</section>
