---
interface Props {
  title: string
  href: string
}
const { title, href } = Astro.props
---

<a
  href={href}
  class="flex gap-1.5 pt-2 pr-2 pb-1 pl-3 text-sm tracking-wide rounded-md shadow-md transition bg-ac-lightblue text-ac-light w-fit font-display group hover:brightness-110">
  {title}
  <span class="transition group-hover:translate-x-1 pt-px">
    <img src="/icons/arrow.svg" alt={title} width="15" height="15"/>
  </span>
</a>
